<div class="jumbotron">
    <h1>Welcome to {{ appName }}</h1>
    <p class="lead">{{ appDesc }}</p>
    <div ng-if="!isAuthenticated()" class="btn-group" role="group">
        <a type="button" class="btn btn-primary btn-lg big-insta-button" ui-sref="apply.basic-information" style='margin-top:2em;'>Apply Now</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container">
    <div ng-if="!isAuthenticated()" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Learn More about Instacart</h3>
                    <p>Instacart brings groceries to your door in under an hour</p>
                    <a target="_blank" href='https://instacart.com' class="btn btn-default btn-block">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Become an Instacart Shopper today</h3>
                    <p>Join our team and become part of a new solution to grocery shopping</p>
                    <a ui-sref="apply.basic-information" class="btn btn-default btn-block">Apply now</a>
                </div>
            </div>
        </div>
    </div>
</div>
